<h2>Template: <small>Dinámicos</small></h2>
<hr>
<form (ngSubmit)="guardar()" #miFormularioDinamico="ngForm">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text"
                    class="form-control"
                    [(ngModel)]="persona.nombre"
                    name="nombre"
                    required
                    minlength="3"
                    placeholder="Persona">
                    <span class="form-text text-danger" 
                        *ngIf="miFormularioDinamico.controls['nombre']?.errors && 
                               miFormularioDinamico.controls['nombre']?.touched">
                        Debe contener mínimo 3 carácteres
                    </span>
        </div>
    </div>

    <!-- Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" 
                       placeholder="Agregar Favorito"
                       [(ngModel)]="nuevoJuego"
                       name="nuevoJuego"
                       (keyup.enter)="agregarJuego()">
                       
                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregarJuego()">
                        <!-- Si no ponemos type será un submit-->
                        Agregar
                </button>
            </div>

        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
                <input type="text" 
                        class="form-control"
                        [(ngModel)]="juego.nombre"
                        name="favorito_{{i}}"
                        required="">
                        <!-- [name]="'favorito' + i" tambien funciona -->
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="eliminar(i)"> <!-- Si no ponemos type será un submit-->
                    Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    [disabled]="miFormularioDinamico.invalid"
                    (click)="guardar()">
                    Guardar
            </button>
        </div>
    </div>

</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>